<div class="landing">
<div class="text-center landing_title">
  <div class="intro">
    <h1>The Greatest Movies of All Time</h1>
  </div>
   <h3><%= link_to "Voice Your Opinion", index_path, class:"btn btn-default btn-lg button" %></h3>
</div>
</div>
